@font-face {
    font-family: 'Pragmatica';
    font-style: normal;
    src: url('../fonts/pragmatica.ttf');
}

body {
    font-family: Pragmatica;
    --main-text-color: #808080;
    margin: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}

body a {
    text-decoration: none;
}

header {
    display: flex;
}

header nav {
    color: var(--main-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

header .logo, nav {
    width: 50%;
}

header .logo img {
    width: 202px;
    height: 34px;
}

header ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

header ul li:not(.lang-change) {
    margin-right: 24px;
}

header ul .lang-change {
    margin-left: auto;
}

header nav ul li a {
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

main {
    display: flex;
    position: relative;
    height: 100%;
}

main .left-column, .right-column {
    width: 50%;
}

main .right-column img {
    width: 100%;

}

main .right-column img:not(:last-child) {
    margin-bottom: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding-right: 32px;
    color: #000;
    opacity: 0.3;

}

main .footer-down {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ---------------ГЛАВНАЯ СТРАНИЦА-------------------- */

main .left-column .footer-main-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

}

/* ---------------ОБО МНЕ-------------------- */
main .about-content {
    margin-top: 150px;
}

main .about-content .about-info {
    margin-bottom: 64px;
    margin-top: 26px;
    width: 80%;
}

main .achievements-list {
    list-style-type: none;
    padding: 0;
    margin-top: 64px;
}

main .achievements-list li:nth-child(2) {
    margin-bottom: 32px;
}

main .achievements-list li a {
    text-decoration: none;
    color: var(--main-text-color)
}

main .achievements-list .achievements-list-item-content {
    display: none;
    color: #000;
    margin-top: 24px;
    margin-bottom: 40px;
    width: 80%;
}

main .achievements-list .active {
    display: block;

}


/*-----ПОДРАЗДЕЛЫ СТРАНИЦЫ ОБО МНЕ---*/
.about-item-page {
    display: block;
}

.about-item-page .heading {
    margin-bottom: 20px;
}

.about-item-page .heading a {
    margin-right: 10px;
}

main .sub-about-page-images-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    position: relative;

}


.sub-about-page-images-container .image-container {
    display: flex;
    flex-direction: column;
    max-width: 32%;
    position: relative;
}

.sub-about-page-images-container .image-container span {
    /*position: absolute;*/
    left: 0;
    transform-origin: bottom left;
}

.sub-about-page-images-container img {
    overflow: hidden;
    margin-bottom: 10px;
    width: 100%;
}

.about-item-page-footer {
    padding: 0;
    margin-top: 32px;
}


/* ---------------ТАЧ БАЙ ТАЧ-------------------- */

main .touch-by-touch-content {
    margin-top: 300px;
    margin-bottom: 235px;
}

main .touch-by-touch-content .touch-by-touch-about {
    margin-top: 26px;
    margin-bottom: 64px;
    width: 70%;
    padding: 0
}

/* ---------------ЮВЕЛИРНЫЕ ИЗДЕЛИЯ-------------------- */

main .right-column .image-item {
    position: relative;
    height: 100%;
}

main .right-column .image-item img {
    margin: 0
}

main .right-column .image-item .image-info {
    position: absolute;
    color: #000000;
    opacity: 0.5;
    transform: rotate(-90deg);
    transform-origin: top left;
    margin-left: -80px;
    bottom: -50px

}

main .footer-jewelry {
    margin-top: 905px;
}

/* ---------------КАБИНЕТНАЯ ПЛАСТИКА------------------- */
main .footer-cabinet-objects {
    margin-top: 905px;
}

/* --------------КОНТАКТЫ------------------ */


main .contacts-content {
    list-style-type: none;
    padding: 0;
    margin-top: 150px;
}

main .contacts-content li a {
    /*color:#000;*/
}

